@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

:root {
    --gold: #E6C744;
    --gray: #C2C8DA;
    --white: #fff;
    --black: #000;
}


/* header */
header {
    height: 80px;
    padding: 14px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 40px;
}

header .menu {
    display: flex;
    list-style: none;
    gap: 20px;
}
header .menu a {
    width: fit-content;
    padding: 10px;
    color: black;
    text-decoration: none;
}

/* banner */
.banner-section {
    padding: 20px 5%;
    display: flex;
    align-items: center;

}
.banner-section img {
    width: 100%;
}
h1 {
    font-size: 96px;
    font-weight: 900;
}




/* ----- day 4 ----- */
h1 {
    color: teal;
}



/* ----- brand ----- */
.brand {
    display: flex;
    height: 186px;
    padding: 0 8%;
    background-color: var(--gold);
    align-items: center;
    justify-content: space-between;
}